html {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-y: visible;
  overflow-x: hidden;
}

.border {
  border: 1px solid black;
  background-color: rgb(215, 215, 196);
}

#grilla {
  display: grid;
  grid-template-areas: " header" " nav" " main" " principal" " footer";
  grid-template-rows: 200px auto 50px auto auto;
  grid-template-columns: auto;
}

header {
  grid-area: header;
}
header img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

main {
  grid-area: main;
  text-align: center;
}
main img {
  max-width: 90%;
}

section {
  grid-area: principal;
  text-align: center;
  text-decoration: solid;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  border: 30px;
  border-color: rgb(215, 215, 196);
}
section h1 {
  color: black;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  font-size: larger;
  text-decoration: underline;
}
section .boton {
  font-size: 20px;
}
section p {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

footer {
  grid-area: footer;
}
footer p {
  display: inline;
}

.accordion-button {
  background: linear-gradient(to right, rgb(178, 14, 2), rgb(237, 174, 168));
  color: #fff;
  border-color: #007bff;
  font-family: "Times New Roman", Times, serif;
}

.accordion-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(to right, rgb(178, 14, 2), rgb(237, 174, 168));
  color: #fff;
}

.accordion-item {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: rgb(215, 215, 196);
  border: none;
  padding: 10px;
}

.accordion-body {
  padding: 10px;
  background-color: rgb(215, 215, 196);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(215, 215, 196);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #333;
}

.form {
  text-align: left;
  margin-top: 20px;
  font-size: 25px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=text],
input[type=datetime-local],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.citas {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.citas h2 {
  color: #333;
  margin-top: 0;
}

@media (min-width: 480px) {
  #grilla {
    display: grid;
    grid-template-areas: "header " "nav " "main" "principal" "footer";
    grid-template-rows: 220px auto auto auto auto;
    grid-template-columns: auto;
  }
  section {
    padding: 30px 50px 20px;
  }
  section h1 {
    display: none;
  }
  section .pindex {
    text-align: center;
    font-size: x-large;
    font-family: "Times New Roman", Times, serif;
  }
  section div .boton {
    font-size: 30px;
    font-style: italic;
  }
  section div p {
    font-size: x-large;
    font-family: "Times New Roman", Times, serif;
  }
  section form {
    padding-left: 15%;
    float: left;
  }
  section #mapa {
    padding-right: 15%;
    float: right;
    border-right: 10px;
    width: 50%;
    height: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
