#grilla {
    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
      "nav principal"
      "footer footer";
    grid-template-rows: 200px 150px 400px 50px; 
    grid-template-columns: 35% 65% ;
    }
    
 @media (min-width: 480px) {
    #grilla {
        display: grid;
        grid-template-areas:
          "header "
          "nav "
          "main"
          "principal"
          "footer ";
        grid-template-rows: 300px auto auto 600px auto; 
        grid-template-columns: auto;
    
    }

    ul{
        display: inline-flex;
    }

    #mapa{
        position: absolute;
        right: 10%;
        border: 5px;
        
        
        
    }

    form{
        position: absolute;
        left: 10%;
    }

    }   
    
 .border {
    border: 1px solid black;
    background-color: lightgreen;
 }

 header {
    grid-area: header;
 }
 footer {
    grid-area: footer;
 }
 section#principal {
    grid-area: principal; 
    text-align: center;
    text-decoration: solid;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    overflow: scroll;
    
     
 }
 main{
    grid-area: main;     
 }
 nav {
    grid-area: nav;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: gray;
 }

 
 html{ 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(203, 212, 212);
}


 #img-superior{
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: fill;
    }

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
         
    }


li a{
    display: block;
    color: rgb(66, 58, 58);
    padding: 8px 16px;
    text-decoration: none;


}
li a.active {
    background-color: #ff0808;
    color: rgb(204, 211, 15);
    size-adjust: auto;
}
li a:hover {
    background-color: #555;
    color: white;
  }



#h1inicio{
    color: #df02e3;
    text-align: center;
    text-decoration: underline;
} 

.img-index{
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section h2{
    background-color: #f918fd;
    text-align: center;
    font-size: larger;
    font-style: italic;
}   



.pfooter{
    display: inline;
}