.accordion-button {
    background: $accord;
    color: #fff;
    border-color: #007bff;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .accordion-button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .accordion-button:not(.collapsed) {
    background: $accord;
    color: #fff;
   
  }
  
  .accordion-item {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    background-color: $fondo;
    border: none;
    padding: 10px;
    
  }
  
  .accordion-body {
    padding: 10px;
    background-color: $fondo;
  }