
 
 header {
    grid-area: header;
    img{
        border-radius: 10px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        }
 } 



main{
    grid-area: main;
    
    h1{
        color: #333233;
        text-align: center;
        text-decoration: underline;
     }

     
 }


section{
        grid-area: principal; 
        text-align: center;
        text-decoration: solid;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        

            
                
            
            p{
                font-size: large;
                font-family: 'Times New Roman', Times, serif;
                }
                
            

       
                    
  
    }

footer {
     grid-area: footer;
    
        p{
            display: inline;
            
        }   
 }