html{ 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(203, 212, 212);
}

 
 header {
    grid-area: header;
    img{
        border-radius: 10px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        }
 } 



main{
    grid-area: main;
    
    h1{
        color: #f06d09;
        text-align: center;
        text-decoration: underline;
     }

     
 }


section{
        grid-area: principal; 
        text-align: center;
        text-decoration: solid;
        font-size: x-large;
        font-family: 'Courier New', Courier, monospace;
        overflow: scroll;

        div#carru{
            
            
            
             img{
                
                align-items: normal;
                max-width: 70%;
                max-height: 500px;
            }
        }
            
      h2{
    
    background: linear-gradient(to right, rgb(193, 40, 180), rgb(239, 192, 250));
    text-align: center;
    font-size: larger;
    font-style: italic;
    overflow: scroll;
         }   
    }

footer {
     grid-area: footer;
    
        p{
            display: inline;
            
        }   
 }