#grilla {
    display: grid;
    grid-template-areas:
      " header"
      " nav"
      " main"
      " principal"
      " footer";
    grid-template-rows: 200px auto 50px auto auto; 
    grid-template-columns: auto ;
   
    }
    