@media (min-width: 480px) {
    #grilla {
        display: grid;
        grid-template-areas:
          "header "
          "nav "
          "main"
          "principal"
          "footer ";
        grid-template-rows: 250px auto auto auto auto; 
        grid-template-columns: auto;
    
    }

   
    section{

        p{
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        }
    }
    #mapa{
        position: absolute;
        right: 10%;
        border: 5px;
        width: 50%;
        height: 600px;
        
        
    }

    form{
        position: absolute;
        left: 10%;
    }

}   
    
 .border {
    border: 1px solid black;
    background-color: #ebebeb;
 }
